.upper-part-holder{
     height: 200px;

     display: flex;
     align-items: center;
     justify-content: center;
     flex-flow: column;

     position: fixed;
     top: 0;
     left: 0;
     right: 0;
}
.app-banner{
     margin: 10px;
     font-size: 250%;
}
.add-item-input-holder{
     width: 70vw;
     border-top-left-radius: 20px;
     border-bottom-right-radius: 20px;
     background: #fff;

     display: flex;
     justify-content: center;
     align-items: center;

}
@media screen and (min-width: 700px) {
     .add-item-input-holder{
          width: 500px;
     }
}
.add-item-input{
     height: 20px;
     width: 90%;

     background: none;
     border: none;
     outline: none;
     text-align: center;

     font-style: italic;
     color: purple;

}


/* -------------------------------------------------------------------------- */
.add-item-btn{
     margin: 20px;
     height: 40px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;

     outline: none;
     border: none;

     color: #500;
     font-weight: bolder;
     font-size: 120%;
     cursor: pointer;

     box-shadow: 1px 1px 1px #777,
                         2px 2px 1px #666,
                         3px 3px 1px #555,
                         4px 4px 1px #444,
                         5px 5px 1px #333,
                         6px 6px 1px #222,
                         7px 7px 1px #111,
                         8px 8px 1px #000;
}


.add-item-btn:active{

     position: relative;
     top: 3px;
     left: 3px;

     box-shadow: 1px 1px 1px #777,
                         2px 2px 1px #666,
                         3px 3px 1px #555,
                         4px 4px 1px #444,
                         5px 5px 1px #333;
}
/* -------------------------------------------------------------------------- */



.items-holder-papa, .items-holder{
     position: fixed;
     top: 200px;
     left: 10px;
     right: 10px;
     bottom: 10px;

     overflow: auto;

     display: flex;
     flex-flow: column;
     align-items: center;

     border-top-left-radius: 50px;
     border-bottom-right-radius: 50px;
     border: 2px solid #fff;

}

.item{
     margin-top: 25px;

     display: flex;
     justify-content: space-between;
     align-items: center;

     width: 80vw;
     height: 50px;

     border-radius: 20px;
     border-top-left-radius: 0;
     border: 2px solid #400;
     background: purple;

}
.item > div{
     margin: 10px;
     font-size: 120%;
     color: #fff;
}

.delete-btn{
     height: 20px;
     width: 70px;
     padding: 5px;
     border-radius: 30px;
     border: 1px solid #000;
     background: #d00;

     text-align: center;
     cursor: pointer;
     user-select: none;
}

.even-item{
     border-top-left-radius: 20px;
     border-top-right-radius: 0px;
}

.hide-all-btn-div{
     position: absolute;
     left: 10px;
     bottom: 10px;

     font-size: 120%;
     font-weight: bold;
     letter-spacing: 2px;

     color: #fff;
}
.hide-all-check{
          margin: 0;
          width: 20px;
          height: 20px;

          position: relative;
          top: 4px;
          cursor: pointer;
}
.clear-all-btn{
     position: absolute;
     right: 10px;
     bottom: 10px;

     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;

     outline: none;
     border: 2px solid #300;
     background: #777;

     color: #fff;
     padding: 5px;
     font-weight: bolder;
     font-size: 120%;

     cursor: pointer;
}
 
