/* ++++++++++++++++++++
.                      HEAD
++++++++++++++++++++ */
.head{
     position: fixed;
     top: 0px;
     left: 0;
     right: 0;

     height: 70px;
     background: var(--mainColor);
     box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);

     display: flex;
     justify-content: center;
     align-items: center;

     color: #fff;
}



/* ---------hamburger */
.hamburger{
     width: 50px;
     position: relative;
}
.hamburger > div{
     content: "";
     display: block;

     height: 5px;
     margin: 7px;
     border-radius: 10px;

     background: #fff;
     transition: 0.4s ease;
}
.hamburger.clicked .ham-t{
     transform: translateY(12px) rotate(-135deg);
}
.hamburger.clicked .ham-b{
     transform: translateY(-12px) rotate(135deg);
}
.hamburger.clicked .ham-m{
     transform: scale(0);
}

.ham-plate{
     width: 50px;
     position: fixed;
     top: 10px;
     left: 10px;

     box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.2),
                         3px 3px 3px rgba(0, 0, 0, 0.1);
}
.ham-plate:active{
     box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.2),
                         inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.ham-plate:active .hamburger{
     transform: scale(0.8);
}




/* ---------Search */
.search{
     position: fixed;
     top: 10px;
     right: 10px;

     height: 50px;

     display: flex;
     justify-content: center;
     align-items: center;
}
.search-input{
     margin: 0;
     padding: 0;
     height: 30px;
     width: 60vw;
     padding-left: 20px;

     border: none;
     outline: none;
     background: none;
     border-bottom: 2px solid #fff;

     color: #fff;
     font-size: 120%;
     font-weight: bolder;
     font-family: "Dosis";

     display: none;
}
.search-btn{
     margin: 20px;
     width: 40px;
     height: 40px;
     border-radius: 50%;

     display: flex;
     justify-content: center;
     align-items: center;

     color: #fff;
     font-size: 170%;
     font-weight: bold;

     background: var(--mainColor);
     box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.2),
                         3px 3px 3px rgba(0, 0, 0, 0.1);

}
.search-btn:active{
     font-size: 140%;

     box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.2),
                         inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}





/* ++++++++++++++++++++
.                      FOOT
++++++++++++++++++++ */
.foot{
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;

     height: 70px;
     background: var(--mainColor);
     box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.3);

     display: flex;
     justify-content: center;
}


/* --------copyright */
.copyright{
     position: absolute;
     width: 100%;
     height: 100%;

     display: flex;
     justify-content: center;
     align-items: center;

     font-size: 90%;
     color: #fff;

     display: none;
}

/* ----------------Quick Input */
.quick-task{
     height: 25px;
     width: 70vw;
     margin-top: 5px;

     background: none;
     border: none;
     outline: none;
     border-bottom: 2px solid #fff;

     color: #ffff;
     padding-left: 20px;
}
.quick-task::placeholder{
     color: #fff;
     opacity: 0.5;
     font-weight: bold;;
}



/* -----------Sub Add */
.sub-add-btn{
     height: 40px;
     width: 60px;

     border-top-left-radius: 15px;
     border-bottom-right-radius: 15px;

     margin-top: 5px;
     margin-left: 20px;

     color: #fff;
     font-size: 130%;
     font-weight: bold;
     user-select: none;

     background: var(--mainColor);
     box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.2),
                         3px 3px 3px rgba(0, 0, 0, 0.1);

     display: flex;
     align-items: center;
     justify-content: center;
}
.sub-add-btn:active{
     font-size: 110%;

     box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.2),
                         inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}





/* ++++++++++++++++++++
.                       MAIN
++++++++++++++++++++ */
.main{
     position: fixed;
     top: 70px;
     bottom: 70px;
     left: 0;
     right: 0;
     z-index: 0;

     overflow: hidden;
}
.tasks-holder{
     width: 100%;
     height: 100%;
     overflow: auto;
}


/* ---------------LOGO */
.logo-holder{
     position: fixed;
     top: 70px;
     bottom: 70px;
     left: 0;
     right: 0;
     z-index: -1;

     display: flex;
     justify-content: center;
     align-items: center;
}
#logo{
     width: 200px;
     height: auto;

     position: relative;
     top: -25px;

     opacity: 0.2;
}



/* ------------------ADD Button */
.add-btn{
     width: 65px;
     height: 65px;
     border-radius: 50%;

     background: var(--mainColor);
     position: fixed;
     right: 30px;
     bottom: 100px;

     display: flex;
     align-items: center;
     justify-content: center;

     font-size: 200%;
     color: #ddd;

}
.add-btn:active{
     color: #000;
 
}



/* -----------------------Navigation */
.nav.nav-open{
     transform: translateX(0px);
     animation: aaa 0.4s ease 1;
}
@keyframes aaa {
     0%{transform: translateX(-100px)}
     50%{transform: translateX(20px)}
     75%{transform: translateX(-20px)}
     100%{transform: translateX(0px)}
}
.nav{
     position: fixed;
     top: 70px;
     left: 0;
     bottom: 70px;
     z-index: 100;

     transform: translateX(-100px);
     transition: 0.4s ease;

     width: 70px;
     background: var(--mainColor);

     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: column;
}
.nav > div, .nav > a{
     display: block;
     text-decoration: none;

     width: 40px;
     height: 40px;
     border-radius: 50%;

     color: #fff;
     font-size: 150%;

     background: var(--mainColor);

     display: flex;
     align-items: center;
     justify-content: center;

     box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.2),
                         3px 3px 3px rgba(0, 0, 0, 0.1);

}
.nav > div:active{
     font-size: 120%;

     box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.2),
                         inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}



/* ------------------------*TASK DIVS */
.task-div{
     margin: 20px;
     padding: 10px;
     display: flex;
     flex-flow: column;

     border-bottom-right-radius: 20px;
     border-top-left-radius: 20px;
     box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.2),
                         3px 3px 3px rgba(0, 0, 0, 0.1);

}
.task-div:active{
     box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.2),
                         inset 3px 3px 3px rgba(0, 0, 0, 0.1);

}

.task-div > div{
     display: flex;
     flex-flow: row;
}
.task-div > div > div{
     margin-left: 10px;
}
.task-check{
     margin-top: 0;
     width: 20px;
     height: 20px;
}
.task-lower-part > div{
     color: red;
}
/* +++++++TIMER STORAGE */
.timer-storage{
     display: none;
}
