/* ++++++++++++++++++++
.                      HEAD
++++++++++++++++++++ */

/* ------------Heading */
.new-task-page-heading{
     font-size:  170%;
}



/* ----------------Save Button */
.save-btn, .new-task-page-back-btn{
     height: 40px;
     width: 60px;

     border-top-left-radius: 15px;
     border-bottom-right-radius: 15px;

     margin-top: 5px;
     margin-left: 20px;

     color: #fff;
     font-size: 130%;
     font-weight: bold;
     user-select: none;

     background: var(--mainColor);
     box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.2),
                         3px 3px 3px rgba(0, 0, 0, 0.1);

     display: flex;
     align-items: center;
     justify-content: center;

     position: fixed;
     top: 10px;
     right: 10px;
}
.save-btn:active, .new-task-page-back-btn:active{
     font-size: 110%;

     box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.3),
                         inset 3px 3px 3px rgba(0, 0, 0, 0.2);
}



/* ----------------Back Button */
.new-task-page-back-btn{
     position: fixed;
     top: 10px;
     left: 10px;
}





/* ++++++++++++++++++++
.             NEW TASK MAIN
++++++++++++++++++++ */
.new-task-page-main{
     position: fixed;
     top: 70px;
     bottom: 0;
     left: 0;
     right: 0;

     overflow: auto;

     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
}


/* ----------------------Input Holder and Inputs */
.new-task-page-all-inputs-holder{
     position: fixed;
     top: 70px;
     left: 0;
     bottom: 0;
     right: 0;

     overflow: auto;
}

.new-task-page-input-holder{
     margin: 25px auto;
     padding: 20px;
     width: 80vw;

     display: flex;
     flex-flow: column;
     justify-content: center;
     align-items: center;
}
.new-task-page-input-holder:nth-child(odd){
     border-top:  0.5px solid rgba(0, 0, 0, 0.3);
     border-right:  0.5px solid rgba(0, 0, 0, 0.3);

     box-shadow: 6px -6px 6px rgba(0, 0, 0, 0.1);
}

.new-task-page-input-holder:nth-child(even){
border-top: 0.5px solid rgba(0, 0, 0, 0.3);
border-left:  0.5px solid rgba(0, 0, 0, 0.3);

box-shadow: -6px -6px 6px rgba(0, 0, 0, 0.1);
}

label{
     margin: 10px;
     font-size: 130%;
     font-weight: 500;
     color: var(--mainColor);
}
input[type='date'], input[type='time']{
     height: 30px;
     width: 200px;

     background: none;
     outline: none;
     border: none;
     border-bottom: 2px solid var(--mainColor);


     color: #f00;
     font-weight: bolder;
     font-size: 130%;

     padding-left: 30px;

     display: flex;
     justify-content: center;
     align-items: center;
}

.new-task-page-input-holder input[type='text']{
     height: 30px;
     width: 80%;
     max-width: 400px;

     background: var(--containerBG);
     outline: none;
     border: none;
     border-bottom: 2px solid var(--mainColor);

     color: #000;
     font-weight: bolder;
     text-align: center;
}


/* ++++++++++++++++ */
.clear-all-btn{
     margin: 0 auto;
     margin-bottom: 10px;

     width: 70px;
     padding: 15px;

     background: var(--containerBG);
     border-top-left-radius: 20px;
     border-bottom-right-radius: 20px;

     color: var(--mainColor);
     font-weight: bolder;
     letter-spacing: 1.5px;

     box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.2),
                         3px 3px 3px rgba(0, 0, 0, 0.1);

     text-align: center;
}
.clear-all-btn:active{
     font-size: 90%;

     box-shadow: inset -3px -3px 3px rgba(255, 255, 255, 0.2),
                         inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}
