@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Fugaz+One&family=Open+Sans:wght@400;600;800&family=Press+Start+2P&family=Special+Elite&display=swap");

@media screen and (min-width: 300px) {
     body{
          font-size: calc(14px + (18 - 14)*(100vw - 300px)/(1600 - 300));
     }
}

body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Dosis", "Open Sans", tahoma, sans-serif;
}
/* ------------------------------------------------------------------------------------ */

/* <!-- +++++++++++++++++++++++++
.                        Container Page
++++++++++++++++++++++++++ --> */
.container{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     background: var(--containerBG);
}

/* <!-- +++++++++++++++++++++++++
.                        About-Us Page
++++++++++++++++++++++++++ --> */
.about-us{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     background: var(--about-usBG);
}

/* <!-- +++++++++++++++++++++++++
.                        Settings Page
++++++++++++++++++++++++++ --> */
.settings{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;

     background: var(--settingsBG);
}
